@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Marcelo da Luz<br />
    Curitiba, Paraná<br />
    <abbr title="Fone">Fone:</abbr>
    (41) 9 9705-6486
</address>

<address>
    <strong>Email:</strong> <span>marcelodl73@gmail.com</span>
</address>
